<p>
    <ul class="list-unstyled">
      <li><i class="fa fa-comments fa-3x"></i>Hit <strong>enter</strong> to chat</li>
      <li><img src="/assets/flip.png">&nbsp;Flip piece to backside</li>
      <li><img src="/assets/rotate.png" width="45px;">&nbsp;Rotate a piece clockwise by x degrees</li>
      <li><img src="/assets/hand.png">&nbsp;Take piece to player's hand</li>
      <li><img src="/assets/load.png">&nbsp;Stack a selection of pieces by type</li>
      <li><img src="/assets/shuffle.png">&nbsp;Shuffle and stack a selection of pieces randomly</li>
      <li><img src="/assets/lock.png">&nbsp;Lock tiles in place, e.g. game board</li>
      <li>You can <strong>zoom</strong> in or out with cmd + - on mac or ctrl + - on PC</li>
      <li>You can <strong>move</strong> around the board with mouse-scroll or trackpad-scroll, or with the cursor / wasd keys.</li>
    </ul>
</p>
