{# copyright and footer links #}
<footer>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1 class="footer-title">
            <b>tabloro</b>
        </h1>
        <p class="small">
            + pure awesomeness for board gamers +
            copyright &copy; frank t 2014-2020+
        </p>
        
        <br>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/tablorodotcom"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
<!--             <li>
                <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
            </li> -->
        </ul>
        <ul class="list-unstyled small">
            <li>
                <script type="text/javascript">eval(unescape("%78%66%66%70%67%37%34%3d%5b%27%25%37%34%25%36%31%25%36%32%25%36%63%25%36%66%25%37%32%25%36%66%25%32%65%25%36%33%25%36%66%25%36%64%27%2c%5b%27%25%36%33%25%36%66%25%36%64%27%2c%27%25%36%37%25%36%64%25%36%31%25%36%39%25%36%63%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%6d%72%79%79%6a%34%39%3d%75%6e%65%73%63%61%70%65%28%78%66%66%70%67%37%34%29%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%6d%72%79%79%6a%34%39%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%78%66%66%70%67%37%34%29%29%3b"));</script>
            </li>
        </ul>

    </div>
</footer>
