<script src="/js/jquery.js"></script>

<script src="/js/ramda.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src='/js/jquery.tagsinput.min.js'></script>
<script src='/js/app.js'></script>

<script src="/js/iscroll.js"></script>
<script src="/js/iconselect.js"></script>
<script src="/js/iconselector.js"></script>

<script src="/js/skype-uri.js"></script>


<!-- GOOGLE ANALYTICS -->
<script>
  console.log('GOOGLE ANALYTICS');

</script>



<!-- TOGGLE MENU -->
<script>
  /*global $*/
  'use strict';

  // Closes the sidebar menu
  $('#menu-close').click(function (e) {
      e.preventDefault();
      $('#sidebar-wrapper').toggleClass('active');
  });

  // Opens the sidebar menu
  $('#menu-toggle').click(function (e) {
      e.preventDefault();
      $('#sidebar-wrapper').toggleClass('active');
  });
</script>

{% block foot %}{% endblock %}
