{# copyright and footer links #}
<footer>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h2 class="footer-title"><b>tabloro</b></h2>
            <p class="footer-title"><b>Pure awesomeness for board gamers</b></p>
            <br>
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/tablorodotcom"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                </li>
            </ul>
            <br/>
            <p class="list-unstyled">Copyright &copy; Frank Trigub 2014</p>
            <ul class="list-unstyled small">
                <li>
                    <a href="mailto:frankyyyy live com">
                        <i class="fa fa-envelope-o fa-fw"></i>
                        frankyyyy live com
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
