{# copyright and footer links #}
<footer>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1 class="footer-title">
            <b>tabloro</b>
        </h1>
        <p class="small">
            + pure awesomeness for board gamers +
            copyright &copy; frank trigub 2014 +
        </p>
        
        <br>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/tablorodotcom"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
<!--             <li>
                <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
            </li> -->
        </ul>
        <ul class="list-unstyled small">
            <li>
                <a href="mailto:frankyyyy live com">
                    <i class="fa fa-envelope-o fa-fw"></i>
                    frankyyyy live com
                </a>
            </li>
        </ul>
    </div>
</footer>
