<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script src="/js/ramda.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src='/js/jquery.tagsinput.min.js'></script>


<script src='/js/site.js'></script>

<!--
<script src='/js/app.js'></script>
<script src="/js/iscroll.js"></script>
<script src="/js/iconselect.js"></script>
<script src="/js/iconselector.js"></script>
 -->


<!-- GOOGLE ANALYTICS -->
<script>
  console.log('GOOGLE ANALYTICS');
</script>

{% include '../includes/toggle_menu.html' %}


{% block foot %}{% endblock %}
