<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i> Menu</a>


<nav class="no-select" id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-dark btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

        <li class="sidebar-brand">
            <a href="#">tabloro.com</a>
        </li>
        <li>
          <a>Table <strong>{{room.title}}</strong></a>
        </li>


        {% if (req.isAuthenticated()) %}
            <li>
                <a href="#">
                  <img class="" src={{"/img/cursors/" + (req.user.selected_cursor || 1) + ".png"}} width="18"></img>
                  {{req.user.username}}
                  {% if isAdmin %}
                    (ADMIN)
                  {% endif %}
                </a>
            </li>
        {% endif %}


        <li>
          <a href="https://www.facebook.com/groups/782463635166814/" title="Facebook Development Group" target="_blank">
            <i class="fa fa-medkit fa-fw"></i>&nbsp;
              Help
          </a>
        </li>

        <li>
          <a  href="https://www.patreon.com/fryyyy" target="_blank">
            <i class="fa fa-heart fa-fw"></i>&nbsp;
            Support tabloro.com
          </a>
        </li>


        <li>
          <a href="#" onclick="gofull()">
            <i class="fa fa-desktop fa-fw"></i>&nbsp;
            Fullscreen
            
          </a>  
        </li>

        {% if (req.isAuthenticated()) %}

          <li>
            <a href="/logout" title="logout">
              <i class="fa fa-sign-out fa-fw"></i>&nbsp;
              Logout
            </a>
          </li>
        {% else %}
          <li class="{% if (isActive('/login')) %}active{% endif %}">
            <a href="/login" title="Login">
              <i class="fa fa-sign-in fa-fw"></i>&nbsp;
              Login
            </a>
          </li>

          <li class="{% if (isActive('/signup')) %}active{% endif %}">
            <a href="/signup" title="Signup">
              <i class="fa fa-plus fa-fw"></i>&nbsp;
              Signup
            </a>
          </li>
        {% endif %}

        <li>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Ftablorodotcom&amp;width&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:22px; width:150px;"  allowTransparency="true"></iframe>
        </li>





        {% if (req.isAuthenticated()) %}
<!--           <li id="start-video" class="list-unstyled">
              <a href="#" id="step1-retry" class="btn btn-success">
                <i class="fa fa-video-camera fa-fw"></i>&nbsp;
                Start Video Chat
              </a>
          </li> -->
        {% else %}
          <li class="{% if (isActive('/signup')) %}active{% endif %}">
            <a href="/signup" title="Signup" class="btn btn-success">
              <i class="fa fa-plus fa-fw"></i>&nbsp;
              Signup to play <strong>more games</strong>
            </a>
          </li>
        {% endif %}




        <p class="navbar-text">-------------------------------------------</p>
        <div class="clearfix"></div>

        {% if (req.isAuthenticated()) %}
          <li id="layers">
            <a href="#" title="Create your own games!">
                Click a layer to move it up
            </a>
            
<!--                 <ul class="list-unstyled">
                  <li>
                      <a href="#">
                          <i class="fa fa-puzzle-piece fa-fw"></i>&nbsp;
                          Gaming Pieces
                      </a>
                  </li>
                  
                  <li>
                      <a href="#">
                          <i class="fa fa-cube fa-fw"></i>&nbsp;
                          Game Boxes
                      </a>
                  </li>

                  <li>
                      <a href="#">
                          <i class="fa fa-sitemap fa-fw"></i>&nbsp;
                          Game Setups
                      </a>
                  </li>
                </ul> -->
          </li>
        {% endif %}


        <p class="navbar-text">----LOG----------------------------------</p>
        <div class="clearfix"></div>

        <li><p id="menu-chat-text"></p></li>
    </ul>
</nav>
