<!doctype html>
<html>
  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>{% if title %} {{ title }} | {% endif %} {{ pkg.name }}</title>
      
      <meta name="keywords" content="{{ pkg.keywords.join(',') }}">
      <meta name="description" content="{{ pkg.description }}">

      {# Opengraph tags #}
      {% if table %}
        <meta property="og:title" content="Lets play '{{table.box.title}}' together">
        <meta property="og:description" content="Join my table '{{table.title}}' and we can play this game in the browser, with built in video&audio chat.">
        <meta property="og:url" content="http://www.tabloro.com/tables/{{table.title}}">
        <meta property="og:image" content="{{ table.box.image.cdnUri + '/detail_' + table.box.image.files[0] }}">
      {% else %}
        <meta property="og:title" content="tabloro.com - play any board game in the browser.">
        <meta property="og:description" content="Play ANY board & card game online. Upload your own game. Invite friends &amp family, save and resume any time.">
        <meta property="og:url" content="http://www.tabloro.com">
        <meta property="og:image" content="/img/meta.jpg">
      {% endif %}
      <meta property="og:site_name" content="Tabloro">
      


      {% block head %}
        {# Styles #}
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/jquery.tagsinput.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      
        <!-- Custom CSS -->
        <link href="/css/app.css" rel="stylesheet">
        <link href="/css/iconselect.css" rel="stylesheet">
        <link href="/css/stylish-portfolio.css" rel="stylesheet">
      {% endblock %}


      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  </head>
