<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

        <li class="sidebar-brand">
            <a href="/#top">Tablemania</a>
        </li>

        <li>
          <a href="/articles" title="Latest News">News</a>
        </li>

        <li>
            <a href="/#about">About</a>
        </li>

        <li>
            <a href="/#features">Features</a>
        </li>

        <li>
            <a href="/#current_games">Current Games</a>
        </li>

        <li>
            <a href="/#contact">Contact</a>
        </li>

        {% if (req.isAuthenticated()) %}
          <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
            <a href="{{ '/users/' + req.user.id }}" title="Profile">
              {{req.user.username}}
              <img src={{"/img/cursors/" + (req.user.selected_cursor || 1) + ".png"}}></img>
              {% if isAdmin %}
                ADMIN
              {% endif %}
            </a>
          </li>
          <li>
            <a href="/logout" title="logout">Logout</a>
          </li>
        {% else %}
          <li class="{% if (isActive('/login')) %}active{% endif %}">
            <a href="/login" title="Login">Login</a>
          </li>

          <li class="{% if (isActive('/signup')) %}active{% endif %}">
            <a href="/signup" title="Signup">Signup</a>
          </li>
        {% endif %}
        
    </ul>
</nav>
