<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

        <li class="sidebar-brand">
            <a href="/#top">tabloro</a>
        </li>

        {% if (req.isAuthenticated()) %}
            <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
                <a href="{{ '/users/' + req.user.id }}" title="Profile">
                  <img class="" src={{"/img/cursors/" + (req.user.selected_cursor || 1) + ".png"}}></img>
                  {{req.user.username}}
                  {% if isAdmin %}
                    ADMIN
                  {% endif %}
                </a>
            </li>
        {% endif %}

        <li>
          <a href="/news" title="Latest News">
            <i class="fa fa-book fa-fw"></i>&nbsp;
              News
          </a>
        </li>

        <li>
            <a href="/#about">
              <i class="fa fa-question fa-fw"></i>&nbsp;
              About
            </a>
        </li>

        <li>
            <a href="/#features">
              <i class="fa fa-list-ol fa-fw"></i>&nbsp;
              Features
            </a>
        </li>

        <li>
            <a href="/#current_games">
              <i class="fa fa-rocket fa-fw"></i>&nbsp;
              Latest Tables
            </a>
        </li>
        
        {% if (req.isAuthenticated()) %}
            <li>
                <a href="/tables">
                    <i class="fa fa-search fa-fw"></i>&nbsp;
                    All Tables
                </a>
            </li>
        {% endif %}
        

        <li>
            <a href="/#contact">
            <i class="fa fa-envelope fa-fw"></i>&nbsp;
            Contact
            </a>
        </li>

        {% if (req.isAuthenticated()) %}

          <li>
            <a href="/logout" title="logout">
              <i class="fa fa-sign-out fa-fw"></i>&nbsp;
              Logout
            </a>
          </li>
        {% else %}
          <li class="{% if (isActive('/login')) %}active{% endif %}">
            <a href="/login" title="Login">
              <i class="fa fa-sign-in fa-fw"></i>&nbsp;
              Login
            </a>
          </li>

          <li class="{% if (isActive('/signup')) %}active{% endif %}">
            <a href="/signup" title="Signup">
              <i class="fa fa-plus fa-fw"></i>&nbsp;
              Signup
            </a>
          </li>
        {% endif %}
        
    </ul>
</nav>
