<div id="please_wait" style="position: absolute; top: 30%; left:30%">
    <center style="color: #888;">
    <h1>Please wait while loading '{{room.title}}'. Don't switch tabs...</h1>
    <p>Please do <b>not</b> switch tabs during loading or your game wont start properly. This is an <b>issue</b> we have to fix.</p>
    <p>Loading may take 0-3 <b>minutes</b> depending on your connection.</p>
    
    <hr>
    <p>
      <ul class="list-unstyled">
        <h3>Controls</h3>
        <li><img src="/assets/flip.png">&nbsp;Flip piece to backside</li>
        <li><img src="/assets/rotate.png" width="45px;">&nbsp;Rotate a piece clockwise by x degrees</li>
        <li><img src="/assets/hand.png">&nbsp;Take piece to player's hand</li>
        <li><img src="/assets/load.png">&nbsp;Stack a selection of pieces by type</li>
        <li><img src="/assets/shuffle.png">&nbsp;Shuffle and stack a selection of pieces randomly</li>
        <li>You can <strong>zoom</strong> in or out with cmd + - on mac or ctrl + - on PC</li>
        <li>You can <strong>move</strong> around the board with mouse-scroll or trackpad-scroll, or with the cursor keys.</li>
      </ul>
    </p>
    </center>
</div>
