<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
    <title>{{title}}</title>
    <link href="/css/game.css" rel="stylesheet">


    <script type="text/javascript" src="/eureca.js"></script>
    <script type="text/javascript" src="/js/phaser.js"></script>
    <script type="text/javascript" src="/js/ramda.js"></script>

    <script type="text/javascript" src="/js/game.js"></script>

<!--     <script type="text/javascript" src="/js/Game.js"></script>
    <script type="text/javascript" src="/js/Network.js"></script>
    <script type="text/javascript" src="/js/Cursor.js"></script>
    <script type="text/javascript" src="/js/UI.js"></script>
    <script type="text/javascript" src="/js/Assets.js"></script>
    <script type="text/javascript" src="/js/Controls.js"></script>
    <script type="text/javascript" src="/js/Dice.js"></script>
    <script type="text/javascript" src="/js/Utils.js"></script>
    <script type="text/javascript" src="/js/Tile.js"></script>
    <script type="text/javascript" src="/js/Stack.js"></script>
    <script type="text/javascript" src="/js/main.js"></script> -->

    <script type="text/javascript">
        var playerName = '{{user.username}}';
        var cursorId = Number({{user.selected_cursor}}) || 1;
        var roomName = '{{table.title}}';
    </script>

</head>

<body>
    <div id="please_wait" style="position: absolute; top: 40%; left:40%">
        <center style="color: #888;">
            <h1>Please wait while loading '{{table.title}}'. Don't switch tabs...</h1>
            <p>Please do <b>not</b> switch tabs during loading or your game wont start properly. This is an <b>issue</b> we have to fix.</p>
            <p>Loading may take 0-3 <b>minutes</b> depending on your connection.</p>
        </center>
    </div>
    <div class="chat">
        <textarea type="text" id="chatInput" placeholder="type to chat..."></textarea>
    </div>
</body>

</html>
