{% extends '../layouts/play.html' %}

{% block main %}
        
    {% include '../includes/please_wait.html' %}


    {% if (mode === 'setup' && isOwner) %}
        <div id="edit-container">
            <button onclick="G.saveSetup()" class="btn btn-success">Save Setup</button>
        </div>
    {% else %}
        <div id="edit-container">
            <a href="{{backUrl}}" class="btn btn-warning">End Test</a>
        </div>
    {% endif %}

    <div class="chat" id="chatFrame" class="no-select" style="display: none;">
        <input type="text" id="chatInput" placeholder="Press ENTER to chat..." autofocus></input>
    </div>

        
{% endblock %}
