{% extends '../layouts/default.html' %}

{% block main %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

  <div class="text-center">

    <div class="about">
      <h2>{{subtitle}}</h2>
      {% if (!pick && req.isAuthenticated()) %}
        <a class="btn btn-success" href="/boxes?pick=setup">
          <i class="fa fa-plus-circle"></i>
          Create a game setup
        </a>

        {% set model = 'setups' %}
        {% set icon = 'fa-sitemap' %}
        {% include '../includes/yours_all.html' with model; icon all %}
        
        <a class="btn btn-info" href="http://www.instructables.com/id/How-to-make-your-board-card-games-playable-in-the-/" target="_blank" ><i class="fa fa-info"></i> Show the Instructable Guide</a>
      {% endif %}
      
    </div>

    {% if (setups.length) %}
      {% for setup in setups %}
        {% if (!setup.isPrivate || setup.user.id === req.user.id || isAdmin) %}
          {% include 'setup.html' %}
        {% endif %}
      {% endfor %}

      {% if (!pick) %}
        {% include 'create_setup.html' %}
      {% endif %}
      {% if (pages > 1) %}
        <div class="clearfix"></div>
        <ul class="pagination">
          {% autoescape false %}
            {{ createPagination(pages, page) }}
          {% endautoescape %}
        </ul>
      {% endif %}

    {% else %}
      <h4 class="muted">
        No game setups yet.&nbsp;
      </h4>
      {% if (!pick) %}
        {% include 'create_setup.html' %}
      {% endif %}
    {% endif %}
    

  

  </div>

  <div class="clearfix"></div>
  <div class="about"></div>


{% endblock %}
