{% extends '../layouts/default.html' %}

{% block main %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

  <div class="text-center">

    <div class="about">
      <h2>{{subtitle}}</h2>
      {% if (!pick && req.isAuthenticated()) %}
        <a class="btn btn-success" href="/boxes?pick=setup">
          <i class="fa fa-plus-circle"></i>
          Create a game setup
        </a>
      {% endif %}
    </div>

    {% if (setups.length) %}
      {% for setup in setups %}
        {% include 'setup.html' %}
      {% endfor %}

      {% if (pages > 1) %}
        <ul class="pagination">
          {% autoescape false %}
            {{ createPagination(pages, page) }}
          {% endautoescape %}
        </ul>
      {% endif %}

    {% else %}
      <h4 class="muted">
        No game setups yet.&nbsp;
      </h4>
    {% endif %}
    
    {% if (!pick) %}
      {% include 'create_setup.html' %}
    {% endif %}

  

  </div>

  <div class="clearfix"></div>
  <div class="about"></div>


{% endblock %}
