{% extends 'setup_frame.html' %}


{% block image %}



    <span class="text-primary">
      {% if (setup.description) %}
          &nbsp;
          <i class="fa fa-align-left" title="Description Available"></i>
      {% endif %}
    </span>


    {% if setup.tags.length %}
      <span class="small">
        tags &nbsp;
        {% for tag in setup.tags.split(',') %}
          <i class="muted fa fa-tag"></i>&nbsp;
          <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
          &nbsp;&nbsp;
        {% endfor %}
      </span>
    <br/>
    {% endif %}
    
     <a href="/boxes/{{setup.box.id}}">
      belongs to {{setup.box.title}}
      <i class="fa fa-cube text-primary">(box)</i>&nbsp;
      
      </a>
  <br>

{% endblock %}
   

      
{% block footer %}
  <a href="{% if (req.isAuthenticated()) %}/boxes/{{setup.box.id}}/setups/{{ setup.title }}{% else %}/login{%endif%}" class="btn btn-primary btn-block btn-square">
  <i class="fa fa-sitemap pull-left"><span class="small"> setup</span></i>
    {% if pick %}pick{% endif %}
    
    <strong>{{setup.title | title}}</strong>

  </a>
{% endblock %}

