body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#my-video {
  width: 140px;
  max-height: 120px;
  height: auto;
  background-color: #aea;
  border: 1px solid #aea;
}

#their-videos {
  float: left;
}

#their-videos video {
  width: 140px;
  height: auto;
  max-height: 120px;
  background-color: #eee;
  border: 1px solid #eee;
}

#video-container {
    width: auto;
    padding: 5px;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;
    position: absolute;
    top: 0px;
}

#edit-container {
    width: auto;
    padding: 5px;
    text-align: right;
    position: absolute;
    top: 0px;
    left: 350px;
}

.video-group {
  float: left;
}

.step {
    float: left;
    padding: 15px;
}

.step3 {
    position: absolute;
    z-index: 1000;
}


.video {
    float: left;
}

.message {
    background-color: #fff;
}

.chat {
  position: absolute;
  left: 0px;
  top: 50%;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
  text-align: center;
  padding: 10px;

}

.chat input {
  width: 300px;
}
