#my-video {
  width: 140px;
  max-height: 120px;
  height: auto;
  background-color: #aea;
  border: 1px solid #aea;
}

#their-videos {
  float: left;
}

#their-videos video {
  width: 140px;
  height: auto;
  max-height: 120px;
  background-color: #eee;
  border: 1px solid #eee;
}

#video-container {
    width: auto;
    padding: 5px;
    text-align: left;
    position: absolute;
    top: 50px;
    left: 50px;
}

#edit-container {
    width: auto;
    padding: 5px;
    text-align: right;
    position: absolute;
    top: 10px;
    left: 10px;
}

.video-group {
  float: left;
}

.step {
    float: left;
    padding: 25px;
}

.step3 {
    position: absolute;
    z-index: 1000;
}


.video {
    float: left;
}

.message {
    background-color: #fff;
}
