<div class="article col-md-12">
  
  <div class="col-md-2">
  </div>
  
  <div class="col-md-3">
      {% if (!article.isNew && article.image && article.image.files && article.image.files.length) %}
        <img src="{{ article.image.cdnUri + '/mini_' + article.image.files[0] }}" alt=""/>
      {% endif %}
  </div>

  <div class="col-md-7">
    <h2>
      <a href="{{ '/news/' + article._id }}" title="{{ article.title }}">
        {{ article.title }}
      </a>
    </h2>
    <p>{{ article.body | striptags }}</p>

    <span class="muted">{{ article.createdAt.toISOString()|date('M d, Y  h:i a') }}</span>

    {% if (article.user) %}
      &nbsp; - &nbsp;
      <span>Author: </span>
      Franky
    {% endif %}

    {% if (article.tags) %}
      &nbsp; - &nbsp;
      <span>Tags: </span>
      {% for tag in article.tags.split(',') %}
        <i class="muted fa fa-tag"></i>&nbsp;
        <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
        &nbsp;&nbsp;
      {% endfor %}
    {% endif %}
  </div>


</div>
