{% extends '../layouts/default.html' %}

{% block main %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<div class="about"></div>

  
  <div class="">
    {% if (req.isAuthenticated()) %}
      <a class="btn btn-primary" href="/news/new">
        <i class="fa fa-plus-circle"></i>
        Add news
      </a>
    {% endif %}
  </div>

  <div class="spacer"></div>

  <div class="row">
    {% if (articles.length) %}
      {% for article in articles %}
        {% include 'article.html' %}
      {% endfor %}

      {% if (pages > 1) %}
        <ul class="pagination">
          {% autoescape false %}
            {{ createPagination(pages, page) }}
          {% endautoescape %}
        </ul>
      {% endif %}
    {% else %}
      <h4 class="muted">
        No articles.&nbsp;
      </h4>
    {% endif %}
  </div>


<div class="clearfix"></div>
<div class="about"></div>

{% endblock %}
