{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

  <div class="about"></div>

  <section class="text-center container">

<!--     <a href="/auth/facebook">
      <img src="/img/facebook.png" alt="facebook auth">
    </a>
    <a href="/auth/twitter">
      <img src="/img/twitter.png" alt="twitter auth">
    </a>
    <a href="/auth/google">
      <img src="/img/google.png" alt="google auth">
    </a>


    <br>
    <h2>OR</h2>
    <br> -->

    <div class="login">
      {% block auth %}{% endblock %}
    </div>
  </section>
  
  <div class="about"></div>
{% endblock %}
