{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title|title }}</h1>
{% endblock %}

{% block content %}
  <section class="bg-primary">
    <div class="container text-center">
      <h3>
        <img src={{"/img/cursors/" + (req.user.selected_cursor || 1) + ".png"}}></img>
        {{user.username|title}}'s user profile
      </h3>
      <p>Registered: <b>{{ user.createdAt.toISOString()|date('M d, Y') }}</b></p>
      <p><i class="fa fa-skype fa-2x"></i> Skype: <b><a class="skype" href="skype:{{ user.skype }}?call">Call {{ user.skype }}</a></b></p>
      
    </div>
  </section>
{% endblock %}
