{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title|title }}</h1>
{% endblock %}

{% block content %}
  <section class="bg-primary">
    <div class="container text-center">
      <h3>
        <img src={{"/img/cursors/" + (user.selected_cursor || 1) + ".png"}}></img>
        {{user.username|title}}'s profile
      </h3>
      <p>Registered: <b>{{ user.createdAt.toISOString()|date('M d, Y') }}</b></p>
      
        <p>
          <i class="fa fa-skype fa-2x"></i> Skype: <b>
          {% if user.skype %}
            <a class="skype btn btn-success" href="skype:{{ user.skype }}?call"><i class="fa fa-phone"></i>&nbsp; Call {{ user.skype }}</a></b>
          {% endif %}
        </p>

        <p>
          <i class="fa fa-fire fa-2x"></i> Firefox Hello: <b>
          {% if user.firefox %}
            <a class="skype btn btn-success" href="https://hello.firefox/c/{{ user.firefox }}">
            <i class="fa fa-phone"></i>&nbsp; Call {{ user.firefox }}</a></b>
          {% endif %}
        </p>
      
    </div>
  </section>
{% endblock %}
