{% extends 'box_frame.html' %}


{% block image %}

  <p>
    {% if box.tags.length %}
      <span class="small">
          
        {% for tag in box.tags.split(',') %}
          <i class="muted fa fa-tag"></i>&nbsp;
          <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
          &nbsp;&nbsp;
        {% endfor %}
      </span>
    {% endif %}
    <br>{{box.gameType}}

  </p>
{% endblock %}
   

      
{% block footer %}
  <a href="{% if (req.isAuthenticated()) %}/boxes/{{ box.id }}{% else %}/login{%endif%}" class="btn {% if (box.isPrivate) %}btn-warning{% else %}btn-primary{% endif %} btn-block btn-square">
    <i class="fa fa-cube pull-left">box</i>
    {% if (box.isPrivate) %}
      <i class="fa fa-key"></i>
    {% endif %}
    {% if (box.user.id === req.user.id) %}
      <i class="fa fa-home" title="Yours"></i>
    {% endif %}
    <strong>{% if (pick) %}Pick {% endif %}{{box.title | title}}</strong>
  </a>
{% endblock %}

