{% extends '../layouts/default.html' %}
{% block main %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block content %}
    <section>
        <div class="spacer"></div>
        <div class="panel-heading">
            <h4>
                Contents of <strong>{{box.title}}</strong> ({{boxPieces.length}} pieces)
            </h4>
        </div>
        
        <div class="panel-body">
            
            <form method="post" action="/boxes/{{box.id}}/count/update" role="form">
                <input type="hidden" name="_csrf" value="{{ csrf_token }}">
                <input type="hidden" name="_method" value="PUT">
                
                {% for piece in boxPieces %}
                    {% include 'count_piece.html' %}
                    <div class="spacer"></div>
                {% endfor %}
                
                <div id="tiles"></div>
                
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Update</button>
                    &nbsp;
                    <a href="/boxes/{{box.id}}" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
        
        
    </section>
{% endblock %}
