  {% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  {% if box.isNew %}
    {% set action = '/boxes' %}
  {% else %}
    {% set action = '/boxes/' + box.id %}
  {% endif %}
  
  <div class="about"></div>


  <section class="bg">
    
    <div class="row container">
      <div class="col-md-12">
        <form method="post" action="{{ action }}" enctype="multipart/form-data" role="form" class="form-horizontal">

          <input type="hidden" name="_csrf" value="{{ csrf_token }}">

          {% if not box.isNew %}
            <input type="hidden" name="_method" value="PUT">
          {% endif %}

          <div class="form-group required">
            <label for="title" class="col-sm-3 control-label">Name of Game Box</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-asterisk fa-fw"></i>
                </div>
                <input type="text" name="title" value="{{ box.title }}" placeholder="Enter the name of your game box" class="form-control" id="title" required="true"/>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-list fa-fw"></i>
                </div>
                <textarea name="description" placeholder="Enter a description for your game box" class="form-control" id="description" >{{ box.description }}</textarea>
              </div>
            </div>
          </div>


            
<!-- 
              <div class="form-group"> 
                <label class="col-sm-3 control-label">List in Public?</label>
                <div class="col-sm-9">
                  <div class="btn-group" data-toggle="buttons">
                    <label href="#" for="isPrivate2" class="btn btn-xs btn-default active">public
                      <input type="radio" id="isPrivate2" name="isPrivate" value="0" checked />
                    </label>
                    <label href="#" for="isPrivate1" class="btn btn-xs btn-default" >private
                      <input type="radio" id="isPrivate1" name="isPrivate" value="1" />
                    </label>
                  </div>
                  <p class="help-block">Private rooms are not listed, and can only be found by sharing the link (or guessing the room name).</p>
                </div>
              </div>
 -->

          <div class="form-group">
            <label for="file" class="col-sm-3 control-label">Image</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-image fa-fw"></i>
                </div>
                <input type="file" name="image" class="form-control" id="file">
              </div>
            </div>
          </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Select Game type</label>
              <div class="col-sm-9"> 
                <div class="btn-group" data-toggle="buttons">
                  <label href="#" for="gameType1" class="btn btn-xs btn-default active" >Classic Game &lt; 1950
                    <input type="radio" id="gameType1" name="gameType" value="Classic Game" checked />
                  </label>
                  <label href="#" for="gameType2" class="btn btn-xs btn-default">Modern Game &gt; 1950
                    <input type="radio" id="gameType2" name="gameType" value="Modern Game" />
                  </label>
                  <label href="#" for="gameType3" class="btn btn-xs btn-default">Card Game
                    <input type="radio" id="gameType3" name="gameType" value="Card Game" />
                  </label>
                  <label href="#" for="gameType4" class="btn btn-xs btn-default">Dice Game
                    <input type="radio" id="gameType4" name="gameType" value="Dice Game" />
                  </label>
                  <label href="#" for="gameType5" class="btn btn-xs btn-default">Selfmade Game
                    <input type="radio" id="gameType5" name="gameType" value="Selfmade Game" />
                  </label>
                </div>

              </div>
            </div>




            <div class="form-group">
              <label for="tags" class="col-sm-3 control-label">Tags</label>
              <div class="col-sm-9">
                <input type="text" name="tags" value="{{ box.tags }}" placeholder="Enter the tags separated by , " class="form-control" id="tags">
                <small>separate tags by ,</small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button class="btn btn-primary" type="submit">Create</button>
              &nbsp;
              <a href="/boxes" class="btn btn-link">Cancel</a>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </section>

<div class="about"></div>
  

{% endblock %}
