{% extends '../pieces/piece_breakup_frame.html' %}


{% block image %}
    <div class="piece-content">
      {% include '../pieces/type.html' %}
    
      {% if isOwner || !piece.isPrivate %}
        &nbsp;
        {{piece.title | title}}
        
        <a href="/pieces/{{ piece.id }}" target="_blank" class="btn btn-default btn-xs btn-square nomargin pull-right">
          {% if (piece.isPrivate) %}
            <i class="fa fa-key"></i>
          {% endif %}

          Click to show
        </a>
      {% endif %}
    </div>

{% endblock %}
   

      
{% block footer %}
  {% if isOwner %}
    <form method="post" action="/boxes/{{box.id}}/remove/{{piece.id}}" role="form" class="form-horizontal">
      <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      <input type="hidden" name="_method" value="PUT">

      <button type="submit" class="btn btn-danger btn-square btn-block">
        {% if (piece.isPrivate) %}
          <i class="fa fa-key"></i>
        {% endif %}
        <strong><i class="fa fa-minus-circle"></i> Remove set from Box</strong>
      </button>
    </form>
  {% else %}
    <!-- frame size hack -->
    <span style="opacity: 0;" selectable="false"><button></button></span>

    {% if (piece.user.id === req.user.id || !piece.isPrivate) %}
      <a href="/pieces/{{ piece.id }}" target="_blank" class="btn btn-primary btn-square btn-block">{{piece.title}}</a>
    {% else %}
        <a href="/pieces/{{ piece.id }}" target="_blank" class="btn btn-warning btn-square btn-block" {%if (!isAdmin)%}disabled="true" {%endif%}>
          <i class="fa fa-key"></i>
          private
        </a>
    {% endif %}
  {% endif %}

  {% set showCount = true %}
  {% set owner = isOwner %}
  {% include '../pieces/sprite_script.html' with showCount; owner only %}
{% endblock %}

