{% extends '../pieces/piece_breakup_frame.html' %}


{% block image %}
  {% if isOwner %}
    <div class="piece-content">
        &nbsp;
        {% include '../pieces/type.html' %}
        {{piece.title | title}}
        
        <a href="/pieces/{{ piece.id }}" target="_blank" class="btn btn-default btn-xs btn-square nomargin pull-right">
          Click to show
        </a>
    </div>
  {% endif %}

{% endblock %}
   

      
{% block footer %}
  {% if isOwner %}
    <form method="post" action="/boxes/{{box.id}}/remove/{{piece.id}}" role="form" class="form-horizontal">
      <input type="hidden" name="_csrf" value="{{ csrf_token }}">
      <input type="hidden" name="_method" value="PUT">

      <button type="submit" class="btn btn-danger btn-square btn-block">
        <strong><i class="fa fa-minus-circle"></i> Remove set from Box</strong>
      </button>
    </form>
  {% else %}
    <strong><a href="/pieces/{{ piece.id }}" target="_blank" class="btn btn-primary btn-square btn-block">{{piece.title}}</a></strong>
  {% endif %}

  {% set showCount = true %}
  {% include '../pieces/sprite_script.html' with showCount %}
{% endblock %}

