{% extends '../layouts/default.html' %}

{% block main %}
    <div class="page-title">
        <h1>
            {{title}}
        </h1>
    </div>

{% endblock %}


{% block content %}
    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                
                    <h2><strong>Upload</strong> your own board game, and share with friends & family.
                    <p class="lead">Add your own game pieces or create your own game in a single step.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


        <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Create the hype</h1>
            <h2>
                <a class="btn btn-success" href="/pieces/new">
                    <i class="fa fa-plus-circle"></i>
                    Upload your game tiles
                </a> 
                <a class="btn btn-success" href="/boxes/new">
                    <i class="fa fa-cube"></i>
                    Create your game box
                </a> 
                <a class="btn btn-success" href="/boxes?pick=setup">
                    <i class="fa fa-sitemap"></i>
                    Create your game layout
                </a> 
            </h2>
            ...and share with friends
        </div>
    </aside>


    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="features" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Create and Share</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <a href="/pieces/new" class="btn btn-primary btn-lg">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-puzzle-piece fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Upload Game Pieces</strong>
                                    </h4>
                                </a>
                                <p>Cards, tokens, dice, you name it. Just upload an image, spritesheet or json atlas. Done.</p>
                                <!-- <a href="#" class="btn btn-light">Search now</a> -->
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <a href="/boxes/new" class="btn btn-primary btn-lg">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-cube fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Make your own Game Box</strong>
                                    </h4>
                                </a>
                                <p>Create a game box and add existing game pieces with a click. Done.</p>
                                <!-- <a href="#" class="btn btn-light">Free sign up</a> -->
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <a href="/boxes?pick=setup" class="btn btn-primary btn-lg">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-sitemap fa-stack-1x text-primary"></i>
                                    </span>
                                    <h4>
                                        <strong>Create your favourite Table Layout</strong>
                                    </h4>
                                </a>
                                <p>Create board layouts, setups or scenarios for your favourite board games.</p>
                                <!-- <a href="#" class="btn btn-light">How That ?</a> -->
                            </div>
                        </div>


                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>






{% endblock %}
