  {% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  {% if piece.isNew %}
    {% set action = '/pieces' %}
  {% else %}
    {% set action = '/pieces/' + piece.id %}
  {% endif %}
  
  <div class="about"></div>


  <section class="bg">
    
    <div class="row container">
      <div class="col-md-12">
        <form method="post" action="{{ action }}" enctype="multipart/form-data" role="form" class="form-horizontal" id="pieceform">

          <input type="hidden" name="_csrf" value="{{ csrf_token }}">

          {% if not piece.isNew %}
            <input type="hidden" name="_method" value="PUT">
          {% endif %}



          <div class="form-group required">
            <label for="title" class="col-sm-3 control-label">Name of Gaming Piece(s)</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-asterisk fa-fw"></i>
                </div>
                <input type="text" name="title" value="{{ piece.title }}" placeholder="Enter the name of your piece" class="form-control" id="title" required="true">
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-list fa-fw"></i>
                </div>
                <textarea name="description"  placeholder="Enter the description of your piece, credits etc" class="form-control" id="description">{{ piece.description }}</textarea>
              </div>
            </div>
          </div>


          <div class="form-group required">
            <label for="image" class="col-sm-3 control-label">Image</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-image fa-fw"></i>
                </div>
                <input type="file" name="image" class="form-control" onchange="readURL()" id="image" {% if (piece.isNew) %}required="true"{% endif %}>
              </div>
              <input type=range id=size min=0 max=100 value=50 onchange="changeScale()">
              <p class="help-block" id="size-text">Resize</p>
              <p class="help-block">Needs FIREFOX or CHROME. Use the slider to scale down your image. It will appear as large in game as shown here.
                A single card should be 100x140 pixels to 150x220 pixels in size, game boards should be between 512x512 (chess) to 1024x1024 (Funkenschlag) pixels in size</p>
              <canvas id="cc" height="0"></canvas>
            </div>
          </div>



          <div class="form-group"> 
            <label class="col-sm-3 control-label">List in Public?</label>
            <div class="col-sm-9">
              <div class="btn-group" data-toggle="buttons">
                <label href="#" for="isPrivate2" class="btn btn btn-success {% if (!piece.isPrivate) %} active {% endif %}">public
                  <input type="radio" id="isPrivate2" name="isPrivate" value="0" />
                </label>
                <label href="#" for="isPrivate1" class="btn btn btn-warning {% if (piece.isPrivate) %} active {% endif %}" >private
                  <input type="radio" id="isPrivate1" name="isPrivate" value="1" />
                </label>
              </div>
              <!-- <p class="help-block">Private rooms are not listed, and can only be found by sharing the link (or guessing the room name).</p> -->
            </div>
          </div>

          <div class="form-group"> 
            <label class="col-sm-3 control-label">Take to Hand ?</label>
            <div class="col-sm-9">
              <div class="btn-group" data-toggle="buttons">
                <label href="#" for="handable2" class="btn btn-xs btn-default {% if (!piece.handable) %} active {% endif %}">no
                  <input type="radio" id="handable2" name="handable" value="0"  />
                </label>
                <label href="#" for="handable1" class="btn btn-xs btn-default {% if (piece.handable) %} active {% endif %}" >yes
                  <input type="radio" id="handable1" name="handable" value="1"  />
                </label>
              </div>
              <p class="help-block">If players can take these pieces on their hands. Tiles on a player's hand can't be seen by other players.</p>
            </div>
          </div>



          <div class="form-group"> 
            <label class="col-sm-3 control-label">Can be locked?</label>
            <div class="col-sm-9">
              <div class="btn-group" data-toggle="buttons">
                <label href="#" for="lockable2" class="btn btn-xs btn-default {% if (!piece.lockable) %} active {% endif %}">no
                  <input type="radio" id="lockable2" name="lockable" value="0"  />
                </label>
                <label href="#" for="lockable1" class="btn btn-xs btn-default {% if (piece.lockable) %} active {% endif %}" >yes
                  <input type="radio" id="lockable1" name="lockable" value="1"  />
                </label>
              </div>
              <p class="help-block">If players can lock these pieces in place. Useful for game boards or terrain that shall not be moved during play.</p>
            </div>
          </div>
  





            <div class="form-group">
              <label for="rotateBy" class="col-sm-3 control-label">Rotation</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-repeat fa-fw"></i>
                  </div>
                  <input type="number" name="rotateBy" value="{{ piece.rotateBy }}" placeholder="Enter how many degrees the piece shall rotate on every click. Enter 0 if the piece shall not rotate." class="form-control" id="rotateBy">
                </div>
                <p class="help-block">If pieces shall be rotateable when clicking on them. Rotation is in degrees. 0 means no rotation.</p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Select type</label>
              <div class="col-sm-9"> 
                
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
                      <i class="fa fa-photo"></i>
                      Image / Board
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">
                      <i class="fa fa-th"></i>
                      Cards / Sprite Sheet
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
                      { json } Multipack Atlas
                    </a>
                  </li>
                </ul>
                
                <div class="tab-content well well-lg">

                  <div role="tabpanel" class="tab-pane active" id="tab1">
                    <p>
                      A single game piece or board with an image url. Use .png format for <a href="https://www.youtube.com/watch?v=PLA2FaOXkkg" target="_blank">transparency</a>
                      , for <a target="_blank" href="/assets/soldier.png">example</a>.
                      <img style="width:50px;" src="/assets/soldier.png">
                    </p>
                    <p class="alert bg-info">
                      <strong>TIP</strong><br/>
                      Create transparent .png images with the free online editor <a href="http://apps.pixlr.com/editor/" target="_blank" >pixlr.com</a>. <a href="https://www.youtube.com/watch?v=r17b_QK_9Ng" target="_blank">Transparency tutorial video </a> for pixlr.
                      <br>
                      Another option is <a class="btn btn-primary btn-xs" target="_blank" href="http://shoebox2.software.informer.com/3.4/">ShoeBox 3.4.2</a>
                      to create transparent images <a target="_blank" href="http://renderhjs.net/shoebox/maskImage.htm">automatically</a>.
                      (Download version <strong>3.4.2</strong>! The latest version of ShoeBox does not have the mask feature)
                    </p>
                  </div>
                  

                  

                  <div role="tabpanel" class="tab-pane" id="tab3">
                    
                    <p class="alert bg-info">
                      <strong>TIP</strong><br/>
                      This format allows to package pieces of different sizes within a single image.
                      See example <a href="/assets/kenney space.png" target="_blank">image</a> & <a href="/assets/kenney space.json" target="_blank">json</a>.
                      <br/>
                      <img src="/assets/kenney_space_small.jpg"></img>
                      <br/>
                      To create a json atlas, download <a class="btn btn-primary btn-xs" href="https://www.codeandweb.com/texturepacker/" target="_blank">Texture Packer</a> and select the
                      <a href="https://cdn.codeandweb.com/blog/2014/12/17/creating-spritesheets-for-phaser-with-texturepacker/texturepacker-choose-phaser.png" target="_blank">Phaser JSON Hash</a> format.
                      See the export
                      <a href="https://cdn.codeandweb.com/blog/2014/12/17/creating-spritesheets-for-phaser-with-texturepacker/texturepacker-adding-sprites.png" target="_blank">settings example</a>
                    </p>

                    <p>
                      If the above image contains multiple game pieces with a corresponding Atlas file in .json Hash format.
                    </p>


                    <div class="form-group">
                      <label for="jsonAtlas" class="col-sm-3 control-label">.json Atlas data</label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-list fa-fw"></i>
                          </div>
                          <textarea name="jsonAtlas"  placeholder="Copy&paste the jsonAtlas data from your .json file created by TexturePacker" class="form-control" id="jsonAtlas" rows="20">{% if (piece.jsonAtlas) %}{{ JSON.stringify(piece.jsonAtlas) }}{% endif %}</textarea>
                        </div>
                      </div>
                    </div>

                    <div class="form-group"> 
                      <label class="col-sm-3 control-label">Flipable ?</label>
                      <div class="col-sm-9">
                        <div class="btn-group" data-toggle="buttons">
                          <label href="#" for="flipable2" class="btn btn-xs btn-default {% if (!piece.flipable) %} active {% endif %}">no
                            <input type="radio" id="flipable2" name="flipable" value="0"  />
                          </label>
                          <label href="#" for="flipable1" class="btn btn-xs btn-default {% if (piece.flipable) %} active {% endif %}" >yes
                            <input type="radio" id="flipable1" name="flipable" value="1"  />
                          </label>
                        </div>
                        <p class="help-block">If tiles are flipable, showing their backside when flipped around. The first tile of the set (with index 0) is used as the background image.</p>
                      </div>
                    </div>

                  </div>
                  
                  <div role="tabpanel" class="tab-pane" id="tab4">
                    <p>
                      If the above image contains multiple game pieces as a sprite sheet.
                    </p>
                    <p class="alert bg-info">
                      <strong>TIP</strong><br/>
                      See example <a target="_blank" href="/assets/diceWhite.png">spritesheet</a>. It would use the settings <em>width: 64, height: 64, number of frames: 6</em>, since each dice face is exactly 64x64 pixels, and there are only 6 faces in this spritesheet image.
                      You can use this <a href="http://www.photojoiner.net/" target="_blank">free website</a> to merge your multiple cards into one spritesheet (set margin to 0, choose horizontal layout).
                      <!-- <img class="img-responsive" src="/assets/diceWhite.png"> -->
                    </p>
                    <div class="form-group">
                      <label for="frameWidth" class="col-sm-3 control-label"> Frame Width </label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-arrows-h fa-fw"></i>
                          </div>
                          <input type="number" name="frameWidth" value="{{ piece.frameWidth }}" placeholder="Enter the frame width in pixels, e.g. 64" class="form-control" id="frameWidth">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="frameHeight" class="col-sm-3 control-label"> Frame Height </label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-arrows-v fa-fw"></i>
                          </div>
                          <input type="number" name="frameHeight" value="{{ piece.frameHeight }}" placeholder="Enter the frame height in pixels, e.g. 64" class="form-control" id="frameHeight">
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="maxFrames" class="col-sm-3 control-label"> Number of Frames </label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-table fa-fw"></i>
                          </div>
                          <input type="number" name="maxFrames" value="{{ piece.maxFrames }}" placeholder="Enter the number of frames in this spritesheet, e.g. 6" class="form-control" id="maxFrames">
                        </div>
                        <p class="text-danger">Warning. Be sure that your number of frames really fit inside the image. Even if your image is just 1 pixel too small, it will not load</p>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="spacing" class="col-sm-3 control-label"> Spacing </label>
                      <div class="col-sm-9">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-table fa-fw"></i>
                          </div>
                          <input type="number" name="spacing" value="{{ piece.spacing || 0 }}" placeholder="Enter the number of frames in this spritesheet, e.g. 6" class="form-control" id="spacing">
                        </div>
                      </div>
                    </div>


                    <div class="form-group"> 
                      <label class="col-sm-3 control-label">Flipable ?</label>
                      <div class="col-sm-9">
                        <div class="btn-group" data-toggle="buttons">
                          <label href="#" for="flipable2" class="btn btn-xs btn-default {% if (!piece.flipable) %} active {% endif %}">no
                            <input type="radio" id="flipable2" name="flipable" value="0"  />
                          </label>
                          <label href="#" for="flipable1" class="btn btn-xs btn-default {% if (piece.flipable) %} active {% endif %}" >yes
                            <input type="radio" id="flipable1" name="flipable" value="1"  />
                          </label>
                        </div>
                        <p class="help-block">If tiles are flipable, showing their backside when flipped around. The first tile of the set (with index 0) is used as the background image.</p>
                      </div>
                    </div>


                    <div class="form-group"> 
                      <label class="col-sm-3 control-label">Is Dice?</label>
                      <div class="col-sm-9">
                        <div class="btn-group" data-toggle="buttons">
                          <label href="#" for="isDice2" class="btn btn-xs btn-default {% if (!piece.isDice) %} active {% endif %}">no
                            <input type="radio" id="isDice2" name="isDice" value="0"  />
                          </label>
                          <label href="#" for="isDice1" class="btn btn-xs btn-default {% if (piece.isDice) %} active {% endif %}" >yes
                            <input type="radio" id="isDice1" name="isDice" value="1"  />
                          </label>
                        </div>
                        <p class="help-block">If spritesheet shall work like a gaming dice, showing a random frame when clicked.</p>
                      </div>
                    </div>



                    <div class="form-group"> 
                      <label class="col-sm-3 control-label">Is Stash ?</label>
                      <div class="col-sm-9">
                        <div class="btn-group" data-toggle="buttons">
                          <label href="#" for="isStash2" class="btn btn-xs btn-default {% if (!piece.isStash) %} active {% endif %}">no
                            <input type="radio" id="isStash2" name="isStash" value="0"  />
                          </label>
                          <label href="#" for="isStash1" class="btn btn-xs btn-default {% if (piece.isStash) %} active {% endif %}" >yes
                            <input type="radio" id="isStash1" name="isStash" value="1"  />
                          </label>
                        </div>
                        <p class="help-block">A stash is a container for game pieces. Contents of a stash are visible only to the player who owns it</p>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>




            <div class="form-group">
              <label for="tags" class="col-sm-3 control-label">Tags</label>
              <div class="col-sm-9">
                <input type="text" name="tags" value="{{ piece.tags }}" placeholder="Enter the tags separated by , " class="form-control" id="tags">
                <small>separate tags by ,</small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button class="btn btn-primary" type="submit">Create</button>
              &nbsp;
              <a href="/pieces" class="btn btn-link">Cancel</a>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </section>

<div class="about"></div>
  
<script type="text/javascript">
/*global $, document*/

  var canvas = document.getElementById("cc");
  var ctx = canvas.getContext("2d");
  var oldFile;
  var toResizeImage;

  var readURL = function readURL() {
    console.log('readURL');
    var input = $("#image")[0];
    oldFile = input && input.files && input.files[0] || oldFile;
    if (oldFile) {
      var reader = new FileReader();

      reader.onload = function (e) {
        toResizeImage = new Image();
        
        toResizeImage.onload = function () {
          resizeImage(oldFile);
          // $('[type=submit]').off('click');
          // $('[type=submit]').on('click', function (e) {
         // });
        };
        toResizeImage.src = e.target.result;
        console.log(toResizeImage.width);
      };

      if(input)reader.readAsDataURL(input.files[0]);
    }
  };


var changeScale = function () {
  console.log('changeScale');
  resizeImage(oldFile);
};

  var resizeImage = function (oldFile) {
              var W = toResizeImage.width;
          var H = toResizeImage.height;
          canvas.width = W;
          canvas.height = H;
          ctx.drawImage(toResizeImage, 0, 0); //draw image

          //resize by ratio
          //var ratio = 0.43895525; //from 0 to 1
          //resample_hermite(canvas, W, H, Math.round(W*ratio), Math.round(H*ratio));
          //resize manually
          var slider = parseInt($('#size').val());
          var ratio = slider / 100;
          var resizedWidth = Math.floor(toResizeImage.width * ratio);
          var resizedHeight = Math.floor(toResizeImage.height * ratio);
          
          $('#size-text').text('Resize: ' + slider + '%   (' + resizedWidth + 'x' + resizedHeight + ' pixel)');
          
          resample_hermite(canvas, W, H, resizedWidth, resizedHeight);
          
          var blob = dataURItoBlob(canvas.toDataURL());
          console.log('oldFile', oldFile.name);
          $('#pieceform').off();
          $('#pieceform').submit(function (e) {
            $('[type=submit]').attr('disabled', 'true');
            $('[type=submit]').text('Please wait...');
  
            $('#image').remove();
            var fd = new FormData(document.forms[0]);
            fd.append('filename', oldFile.name);
            fd.append('filetype', oldFile.type);
            fd.append('resized', blob);
  
            e.preventDefault();
            $.ajax({
              url: "{{action}}",
              type: "POST",
              data: fd,
              processData: false,
              contentType: false,
              success: function(id) {
                console.log('id', id);
                 document.location.pathname = '/pieces/' + id;
              },
              error: function (err) {
                console.error(err);
                alert(err.responseJSON.errors.title.message + ': ' + err.responseJSON.errors.title.value );
                return false;
              }
            });
            return false;
          });
  };





function resample_hermite(canvas, W, H, W2, H2){
  var time1 = Date.now();
  W2 = Math.round(W2);
  H2 = Math.round(H2);
  var img = canvas.getContext("2d").getImageData(0, 0, W, H);
  var img2 = canvas.getContext("2d").getImageData(0, 0, W2, H2);
  var data = img.data;
  var data2 = img2.data;
  var ratio_w = W / W2;
  var ratio_h = H / H2;
  var ratio_w_half = Math.ceil(ratio_w/2);
  var ratio_h_half = Math.ceil(ratio_h/2);
  
  for(var j = 0; j < H2; j++){
    for(var i = 0; i < W2; i++){
      var x2 = (i + j*W2) * 4;
      var weight = 0;
      var weights = 0;
      var weights_alpha = 0;
      var gx_r = gx_g = gx_b = gx_a = 0;
      var center_y = (j + 0.5) * ratio_h;
      for(var yy = Math.floor(j * ratio_h); yy < (j + 1) * ratio_h; yy++){
        var dy = Math.abs(center_y - (yy + 0.5)) / ratio_h_half;
        var center_x = (i + 0.5) * ratio_w;
        var w0 = dy*dy //pre-calc part of w
        for(var xx = Math.floor(i * ratio_w); xx < (i + 1) * ratio_w; xx++){
          var dx = Math.abs(center_x - (xx + 0.5)) / ratio_w_half;
          var w = Math.sqrt(w0 + dx*dx);
          if(w >= -1 && w <= 1){
            //hermite filter
            weight = 2 * w*w*w - 3*w*w + 1;
            if(weight > 0){
              dx = 4*(xx + yy*W);
              //alpha
              gx_a += weight * data[dx + 3];
              weights_alpha += weight;
              //colors
              if(data[dx + 3] < 255)
                weight = weight * data[dx + 3] / 250;
              gx_r += weight * data[dx];
              gx_g += weight * data[dx + 1];
              gx_b += weight * data[dx + 2];
              weights += weight;
              }
            }
          }   
        }
      data2[x2]     = gx_r / weights;
      data2[x2 + 1] = gx_g / weights;
      data2[x2 + 2] = gx_b / weights;
      data2[x2 + 3] = gx_a / weights_alpha;
      }
    }
  console.log("hermite = "+(Math.round(Date.now() - time1)/1000)+" s");
  canvas.getContext("2d").clearRect(0, 0, Math.max(W, W2), Math.max(H, H2));
    canvas.width = W2;
    canvas.height = H2;
  canvas.getContext("2d").putImageData(img2, 0, 0);
}

function dataURItoBlob(dataURI) {
    // convert base64/URLEncoded data component to raw binary data held in a string
    var byteString;
    if (dataURI.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(dataURI.split(',')[1]);
    else
        byteString = unescape(dataURI.split(',')[1]);

    // separate out the mime component
    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

    // write the bytes of the string to a typed array
    var ia = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }

    return new Blob([ia], {type:mimeString});
}
</script>

{% endblock %}
