{% extends 'piece_frame.html' %}


{% block image %}
  {% if piece.tags.length %}
    <div class="piece-content">

      <p>
          {% for tag in piece.tags.split(',') %}
            <i class="muted fa fa-tag"></i>&nbsp;
            <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
            &nbsp;&nbsp;
          {% endfor %}
          <br/>
      </p>

    </div>
  {% endif %}
{% endblock %}
   

      
{% block footer %}
  <a href="{% if (req.isAuthenticated()) %}/pieces/{{ piece.id }}{% else %}/login{%endif%}" class="btn {% if (piece.isPrivate) %}btn-warning{% else %}btn-primary{% endif %} btn-block btn-square">
    
    <span class="pull-left">
      {% include 'type.html' %}
      {% if (piece.isPrivate) %}
        <i class="fa fa-key"></i>
      {% endif %}
      
      {% if (piece.user.id === req.user.id) %}
        <i class="fa fa-home" title="Yours"></i>
      {% endif %}

    </span>
    <strong>{{piece.title | title}}</strong>
  </a>
{% endblock %}

