{% extends '../layouts/default.html' %}

{% block main %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

  <div class="text-center">

    <div class="about">
      {% if (req.isAuthenticated()) %}
        <a class="btn btn-success" href="/setups?pick=table">
          <i class="fa fa-plus-circle"></i>
          Open your own table
        </a>
      {% endif %}
    </div>

    {% if (tables.length) %}
      {% for table in tables %}
        {% include 'table.html' %}
      {% endfor %}

      {% if (pages > 1) %}
        <ul class="pagination">
          {% autoescape false %}
            {{ createPagination(pages, page) }}
          {% endautoescape %}
        </ul>
      {% endif %}

    {% else %}
      <h4 class="muted">
        No open tables.&nbsp;
      </h4>
    {% endif %}
    
    {% include 'create_table.html' %}

  

  </div>

  <div class="clearfix"></div>
  <div class="about"></div>


{% endblock %}
