{% extends '../layouts/default.html' %}

{% block main %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

  <div class="text-center">

    <div class="about">
      {% if (req.isAuthenticated()) %}
        <a class="btn btn-success" href="/setups?pick=table">
          <i class="fa fa-plus-circle"></i>
          Open your own table
        </a>
        {% set model = 'tables' %}
        {% set icon = 'fa-play' %}
        {% include '../includes/yours_all.html' with model; icon all %}
      {% endif %}
    </div>

    {% if (tables.length) %}
      {% for table in tables %}
        {% if (table.user.id === req.user.id || !table.isPrivate || isAdmin) %}
          {% include 'table.html' %}
        {% endif %}
      {% endfor %}
      
      {% include 'create_table.html' %}

      {% if (pages > 1) %}
        <div class="clearfix"></div>

        <ul class="pagination">
          {% autoescape false %}
            {{ createPagination(pages, page) }}
          {% endautoescape %}
        </ul>
      {% endif %}

    {% else %}
      <h4 class="muted">
        No open tables.&nbsp;
      </h4>
      {% include 'create_table.html' %}
    {% endif %}
    

  

  </div>

  <div class="clearfix"></div>
  <div class="about"></div>


{% endblock %}
