{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  <section class="container">

    <div class="spacer"></div>
    
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>
          <a HREF="mailto:?subject=Lets play '{{table.box.title}}' together&body=Hey, I opened a table and thought we could play this game together. It's in the browser, with video and audio chat.
           http://www.tabloro.com/tables/{{table.title}}/"><i class="fa fa-envelope"></i> Invite a friend via mail</a>
          </p>
            Invite via facebook
            <iframe height="20px;" src="//www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.tabloro.com%2Ftables%2F{{table.title}}%2F&amp;layout=button_count" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <p>Players at this table</p>
              {% if (players.length) %}
                  {% for user in players %}
                      <li class="list-group-item">
                        <img src="/img/cursors/{{user.cursor}}.png"/>
                        {{ user.name }}
                        &nbsp;
                        {% if (user.skype) %}
                          <a class="btn btn-success" href="skype:{{ user.skype }}?call"> <i class="fa fa-phone"></i> call with <i class="fa fa-skype">kype</i></a>
                        {% endif %}
                      </li>
                  {% endfor %}
              {% endif %}
          </ul>
        </div>
        <div class="panel-footer">
          <a class="btn btn-primary btn-lg" href="/tables/{{table.title}}/play" target="_blank">
            PLAY &nbsp;
            <i class="fa fa-play"></i>
          </a>
          <hr>
          
          <p class="muted min200">
            <img style="opacity: 0.5;" class="img-responsive max200 min200 pull-right" src="{{ table.box.image.cdnUri + '/detail_' + table.box.image.files[0] }}" alt="">
            {{table.box.description}}
          </p>
          


          <!-- <i class="fa fa-google-plus"></i>
          <a href="http://hangouts.google.com/onair">Create google hangout</a> -->
        </div>
      </div>
    </div>
    

    <div class="col-md-5">
      <ul class="list-group">
        {% if (table.isPrivate) %}
          <li class="list-group-item list-group-item-warning">This Room is Private</li>
        {% else %}
          <li class="list-group-item list-group-item-success">This Room is Public</li>
        {% endif %}

        <li class="list-group-item list-group-item-default">
          <i class="fa fa-sitemap fa-fw"></i>
           Game setup:
           <strong class="pull-right">
             <a href="/setups/{{table.setup.title}}" class="btn btn-primary btn-xs">
              {{table.setup.title}}
             </a>
            </strong>
        </li>


        <li class="list-group-item list-group-item-default">
          <i class="fa fa-cube fa-fw"></i>
           Game box:
           <strong class="pull-right">
            <a href="/boxes/{{table.box.id}}" class="btn btn-primary btn-xs">
              {{table.box.title}}
            </a>
          </strong>
        </li>



        <li class="list-group-item list-group-item-default">
          Created by
          <strong class="pull-right">{{table.user.username}}</strong>
        </li>

        {% if (table.rtcVideo) %}
          <li class="list-group-item list-group-item-default">
            <i class="fa fa-video-camera fa-fw"></i>
             built in peer to peer video 
          </li>
        {% endif %}
        {% if (table.rtcAudio) %}
          <li class="list-group-item list-group-item-default">
            <i class="fa fa-microphone fa-fw"></i>
             built in peer to peer audio 
          </li>
        {% endif %}

        {% if (table.phone) %}
          <li class="list-group-item list-group-item-default">
            <i class="fa fa-phone fa-fw"></i>
             conference phone: {{table.phone}} (call at your own risk!)
          </li>
        {% endif %}


        {% if (table.skype) %}
          <li class="list-group-item list-group-item-default">
            <i class="fa fa-skype fa-fw"></i>
             Skype group <a class="btn btn-success" href="{{table.skype}}">Join</a>
          </li>
        {% endif %}

        {% if (table.rules) %}
          <li class="list-group-item list-group-item-default">
            <i class="fa fa-institution fa-fw"></i>
            <a href="{{table.rules}}" target="_blank">House Rules</a>
          </li>
        {% endif %}

        <li class="list-group-item list-group-item-default">Started {{ table.createdAt.toISOString()|date('M d,  h:i a') }}</li>
        {% if (table.tags) %}
          <li class="list-group-item meta">
            <p>
            Tags: &nbsp;
            {% for tag in table.tags.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
              &nbsp;&nbsp;
            {% endfor %}
            </p>
          </li>
        {% endif %}
        <li class="list-group-item list-group-item-info">
          <h4>Controls</h4>
          <iframe width="420" height="315" src="//www.youtube.com/embed/5S9vENifHo8" frameborder="0" allowfullscreen></iframe>
          {% include '../includes/controls.html' %}

        </li>
        {% if isAdmin %}
          <li class="list-group-item list-group-item-danger">
            <form action="{{ '/tables/' + table.title }}" method="post" onsubmit="return confirm('Are you sure?')">
              <br>
              <input type="hidden" name="_csrf" value="{{ csrf_token }}">
              <a href="{{ '/tables/' + table.title + '/edit' }}" title="edit" class="btn btn-default">
                Edit
              </a>
              &nbsp;
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </li>
        {% endif %}
      </ul>
    </div>

    
  </section>

  <div class="spacer"></div>

  <section class="bg-primary about">
    <div class="container">
      
      <a href="/tables" class="btn btn-default">
        <i class="fa fa-backward"></i>
        Back to tables
      </a>
    </div>
  </section>
{% endblock %}
