{% extends 'table_frame.html' %}


{% block image %}
  <span class="text-center small text-primary">Started {{ table.createdAt.toISOString()|date('G:i') }}</span>

  <br>

    <span class="text-primary">
      {% if (table.rtcAudio) %}
          &nbsp;
          <i class="fa fa-microphone"></i>
      {% endif %}
      {% if (table.rtcVideo) %}
          &nbsp;
          <i class="fa fa-video-camera"></i>
      {% endif %}
      {% if (table.phone) %}
          &nbsp;
          <i class="fa fa-phone"></i>
      {% endif %}
      {% if (table.skype) %}
          &nbsp;
          <i class="fa fa-skype"></i>
      {% endif %}
      {% if (table.rules) %}
          &nbsp;
          <i class="fa fa-institution fa-fw"></i>
    {% endif %}
    </span>


  <p>
    {% if table.tags.length %}
      <span class="small">
        tags &nbsp;
        {% for tag in table.tags.split(',') %}
          <i class="muted fa fa-tag"></i>&nbsp;
          <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
          &nbsp;&nbsp;
        {% endfor %}
      </span>
    <br/>
    {% endif %}

    {% if table.players.length === 0 %}
      <!-- <em>no players yet</em> -->
    {% else %}
      players   
      {% for user in table.players %}
        <i class="fa fa-user fa-lg text-primary"></i>&nbsp;
      {% endfor %}
    {% endif %}
    
  </p>
{% endblock %}
   

      
{% block footer %}
  <a href="{% if (req.isAuthenticated()) %}tables/{{ table.title }}{% else %}/login{%endif%}" class="btn btn-primary btn-block btn-square">
    <i class="fa fa-play"></i>&nbsp;
    <strong>{{table.title | title}}</strong>
  </a>
{% endblock %}

