<div class="col-sm-3">
  <div class="panel  {% if table.isPrivate %}panel-warning {% else %} panel-default {% endif %}">
      
      <div class="img-overlay">
      {% if (table.box) %}
        <img class="img-responsive max200 min200" src="{{ table.box.image.cdnUri + '/detail_' + table.box.image.files[0] }}" alt="">
      {% else %}
        <img class="img-responsive wooden" style="height: 200px;" alt="">
      {% endif %}


          <div class="post-content">
            {% block image %}
            {% endblock %}
          </div>
        </img>
      </div>

      
      {% block footer %}
      {% endblock %}

  </div>
</div>
