{% extends 'table_frame.html' %}


{% block image %}
  <h4>

    <strong>{{table.title | title}}</strong>

    
    {% if (table.rtcAudio) %}
        &nbsp;
        <i class="fa fa-microphone text-primary"></i>
    {% endif %}
    {% if (table.rtcVideo) %}
        &nbsp;
        <i class="fa fa-video-camera text-primary"></i>
    {% endif %}
    {% if (table.phone) %}
        &nbsp;
        <i class="fa fa-phone text-primary"></i>
    {% endif %}
    {% if (table.skype) %}
        &nbsp;
        <i class="fa fa-skype text-primary"></i>
    {% endif %}
  </h4>


  <p>
    {% if table.tags.length %}
      tags &nbsp;
      {% for tag in table.tags.split(',') %}
        <i class="muted fa fa-tag"></i>&nbsp;
        <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
        &nbsp;&nbsp;
      {% endfor %}
    <br/>
    {% endif %}

    {% if table.players.length === 0 %}
      <em>no players yet</em>
    {% else %}
      players   
      {% for user in table.players %}
        <i class="fa fa-user fa-lg text-primary"></i>&nbsp;
      {% endfor %}
    {% endif %}
  </p>
{% endblock %}
   

      
{% block footer %}
  <span class="small">Started {{ table.createdAt.toISOString()|date('G:i') }}</span>
  <a href="{% if (req.isAuthenticated()) %}tables/{{ table.title }}{% else %}/login{%endif%}" class="btn btn-primary btn-block">
    <i class="fa fa-user"></i>&nbsp;
    join table
  </a>
{% endblock %}

