<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Board Table - Play any board game online</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <link href="css/iconselect.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Tablemania</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#features">Features</a>
            </li>
            <li>
                <a href="#current_games">Current Games</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Tablemania<small>beta</small></h1>
            <h3>Your online game table in the browser.
            <br>Play your favourite board games with friends &amp family.</h3>
            <br>
            <a href="#current_games" class="btn btn-dark btn-lg">Play now</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Play <strong>any</strong> board game, <strong>any</strong> time, <strong>any</strong> device. </h2>
                    <p class="lead">Play in your browser, invite friends &amp family, save and resume any time.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="features" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Tablemania Features</h2>
                    <hr class="small">
                    <div class="row">

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-tablet fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Play anywhere</strong>
                                </h4>
                                <p>It runs on your computer, tablet, or smartphone.</p>
                                <!-- <a href="#" class="btn btn-light">Search now</a> -->
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-backward fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Playback</strong>
                                </h4>
                                <p>For registered users, every game session is saved online. Every move can be replayed or rewinded any time.</p>
                                <!-- <a href="#" class="btn btn-light">Free sign up</a> -->
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-camera fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Video &amp Audio chat</strong>
                                </h4>
                                <p>Built in private peer-to-peer video &amp audio chat.</p>
                                <!-- <a href="#" class="btn btn-light">How That ?</a> -->
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cut fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Upload your own game</strong>
                                </h4>
                                <p>Scan your own game tiles, share the link and start playing with friends &amp family.</p>
                                <!-- <a href="#" class="btn btn-light">Upload</a> -->
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Play the hype</h1>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="current_games" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Join a public table or create a <button class="btn btn-primary" data-toggle="modal" data-target="#joinTableModal">new table</button></h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img class="img-portfolio img-responsive" src="img/game1.jpg">
                                <div class="post-content">
                                    <h4>PublicCarcassone 1</h4>
                                </div>
                                <br>
                                <button class="btn btn-m btn-primary" data-id="PublicCarcassone 1" data-toggle="modal" data-target="#joinTableModal" href="#">
                                    join table
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img class="img-portfolio img-responsive" src="img/game2.jpg">
                                <div class="post-content">
                                    <h4>PublicCarcassone 2</h4>
                                </div>
                                <br>
                                <button class="btn btn-m btn-primary" data-id="PublicCarcassone 2" data-toggle="modal" data-target="#joinTableModal" href="#">
                                    join table
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img class="img-portfolio img-responsive" src="img/game3.jpg">
                                <div class="post-content">
                                    <h4>PublicCarcassone3</h4>
                                </div>
                                <br>
                                <button class="btn btn-m btn-primary" data-id="PublicCarcassone3" data-toggle="modal" data-target="#joinTableModal" href="#">
                                    join table
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img class="img-portfolio img-responsive" src="img/game4.jpg">
                                <div class="post-content">
                                    <h4>PublicCarcassone4</h4>
                                </div>
                                <br>
                                <button class="btn btn-m btn-primary" data-id="PublicCarcassone4" data-toggle="modal" data-target="#joinTableModal" href="#">
                                    join table
                                </button>
                            </div>
                        </div>
        
                    </div>
                    <!-- /.row (nested) -->
                    <!-- <a href="#" >Find more tables...</a> -->
                    <!-- <a class="btn btn-blue" href="#">table browser</a> -->
                        <!-- <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg"> -->
                    </a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container" id="signup">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <img class="img-portfolio img-responsive" src="img/girl.jpg"> -->
                    <h4>Free signup required to store your game sessions online.</h4>
                    <a href="#" class="btn btn-lg btn-light" data-toggle="modal" data-target="#joinSiteModal">Board me Up!</a>
                    <a href="#" class="btn btn-lg btn-dark" data-toggle="modal" data-target="#joinSiteModal">Login</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact">
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Tablemania</strong>
                    </h4>
                    <p>A free service from gamers for gamers</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:gamers@tablemania.com">gamers@tablemania.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Frank Trigub 2014</p>
                </div>
            </div>
        </div>
    </footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/ramda.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/iscroll.js"></script>
<script src="js/iconselect.js"></script>
<script src="js/iconselector.js"></script>

<!-- Custom Theme JavaScript -->

<script>
/*global $, document, browser, location*/
"use strict";

// Closes the sidebar menu
$("#menu-close").click(function (e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function () {
    $('a[href*=#]:not([href=#])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});

</script>

            


<!-- Modal -->
<div class="modal fade" id="joinTableModal" tabindex="-1" role="dialog" aria-labelledby="joinTableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="rooms" method="get">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="joinTableModalLabel">Join Carcassone table</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label name="game-room">Table</label>
                        <input type="hidden" id="game-room-hidden" name="game-room" class="form-control">
                        <input type="text" id="game-room" name="game-room" class="form-control" placeholder="Please enter a table name" required="true">
                        <div class="input-group">
                            <label name="username">Your name</label>
                            <input type="text" id="user_name" name="username" class="form-control" placeholder="Please enter your name" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="my-icon-select"></div>
                        <p>Pick an icon</p>
                        <input type="hidden" id="cursor-id" name="selected_cursor" style="width:65px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Join Game</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="joinSiteModal" tabindex="-1" role="dialog" aria-labelledby="joinSiteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="users" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="joinSiteModalLabel">Sign up for Tablemania</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label name="game-room">Email</label>
                        <input type="email" disabled="disabled" id="email" name="email" class="form-control" placeholder="Please enter your email" required="true">
                        <div class="input-group">
                            <label name="username">Username</label>
                            <input type="text" disabled="disabled" id="user_name" name="username" class="form-control" placeholder="Please enter a username" required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="my-icon-select"></div>
                        <!-- <p>Pick an icon</p> -->
                        <input type="hidden" id="cursor-id" name="selected_cursor" style="width:65px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" disabled="disabled" class="btn btn-primary">Sorry, signup isn't working yet...</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>




<script type="text/javascript">


$('#joinTableModal').on('shown.bs.modal', function (e) {
    $('#user_name').focus();

    // set room name
    var id = $(e.relatedTarget).data('id');
    if (id) {
        $('#game-room').val(id);
        $('#game-room').attr('disabled', 'disabled');
        $('#game-room-hidden').val(id);
    } else {
        $('#game-room-hidden').attr('disabled', 'disabled');
    }
});
</script>

</body>

</html>
